
body {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #f2f2f2;
}
p {
	font: 18px arial, sans-serif;
	padding-right: 20px;
	padding-left: 20px;
	
}

h1 {
	font-family: Arial;
	font-size:60px;
	font-weight: bolder;
	text-align: center;
	transform: scaleY(1.4);

}

h2 {
	font-family: Arial;
	font-size:18px;
	text-align: left;
	transform: scaleY(1.1);
	text-align: center
}

p.h3 {
	font-family: Arial;
	font-size:25px;
	text-align: left;
	transform: scaleY(1.1);
	padding-left: 50px;
}

p.explainer {
	font-size: 19px;
	padding-right: 700px;
	padding-left: 100px;

}

p.byline {
	font: 12px arial, sans-serif;
	text-align: center;
	transform: scaleY(1.1);
	
}

hr {
	padding-left: 50px;
}

p.instructions {
	font-size: 18px;
	font-variant: small-caps; 
	float;left;
	padding-left: 100px;
}

#FingerprintCalculator {
	float: left;
	padding-left: 100px;
	align-content: left;
}

#zipCode {
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bolder;
	margin-left: 20px;
	position: relative;
	max-width: 200px;
}

#biggestOffender {
	font: 18px arial, sans-serif;
	font-weight: bold;
	padding-right: 700px;
	padding-top: 10px;
	padding-bottom: 5px;
}

#felons_no_print {
	font: 18px arial, sans-serif;
	font-weight: bold;
	padding-right: 700px;
	padding-top: 10px;
	padding-bottom: 20px;
}
#calc {
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bolder;
	vertical-align: bottom;
}